body {
    color: #352E2E;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172674
}
#container{
	width: 1280px;
	height: auto;
	background-color:#FFFFFF;
	margin: auto;
}

h1 {
    color: #F8931F;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*Float the Aside so it displays next to the Main*/
aside {
    width: 150px;
    height: 1650px;
    float: left;
    background-color:#F8931F;
    color: #FFFFFF;
}
header {
    width: 1280px;
    height: 250px;
    background-image: url("images/header-01-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-color:#F79320;
	margin: 50px 0px 0px 0px
}
/*Float the main so it shows up next to the Aside. Reduce width by 150px so they both line the header.*/
main {
    background-color: #FFFFFF;
    width: 1100px;
    height: 1600px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
}
img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: right;
}

.floatLeft {	
	float: left;
}
article {
    margin-bottom: 50px;
}
/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 1280px;
    height: 50px;
    background-color: #F8931F;
    clear: both;
}
nav {
    width: 1280px;
    height: 50px;
    margin-top: 10px;
    position: fixed;
    top: 0px;
    background-color: #F79320;
    color: #FFFFFF;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    margin: 0px 40px 0px 0px;
    width: 60px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 18pt;
}
#container nav ul {
    margin: auto;
    width: 400px;
}
nav a:link {
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav a:visited {
    text-decoration: none;
    color: #172674;
}
nav a:hover {
    text-decoration: none;
    color: white;
    background-color: #172674;
    padding: 10px;
    border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #1C1A1A;
}.submit_btn {
    width: 170px;
    height: 30px;
    background-color: #6BE6FE;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}

submit.btn:hover {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 40px;
    margin-right: 60px;
}
.cclicense {
	width: 500px;
	height: 20px;
	clear: both;
	padding: 50px 0px 0px 0px;
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}
/*Rules the page will follow for Tablet-sized devices*/
@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	header{
		width: 768px;
	}
	nav{
		width: 768px;
	}
	main{
		width: 598px;
	}
	footer{
		width: 768px;
	}
	.column {
		margin: 0px 20px 0px 25px;
	}
}
/*Rules page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	header{
		width: 300px;
		background-image:url("images/header-01-01-02.png");
	}
	nav{
		width: 300px;
		height:280px;
		position:static;
	}
	main{
		width: 300px;
	}
	footer{
		width: 300px;
	}
	aside {
		display: none;
	}
	
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
    display: block;
    width: 200px;
    background-color: #172674;
    color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}
}
